{
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
  "pluginSearchDirs": ["."],
  "printWidth": 80,
  "quoteProps": "preserve",
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
